<!DOCTYPE html>
<html>
<head>
    <title>look items with users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
        function addElements(){
            //TODO your code goes here

        }
    </script>
</head>
<body>
<form method="post" action="/getUserWithItems">
    <input type="number" name="userID" id="userID" placeholder="User ID">
    <input type="submit" value="submit">
</form>
</body>
</html>
